.App {
  text-align: center;
  background : #B0C4DE;
  background-color: #B0C4DE;
  background-size:cover;
}


.container {
  background-color: #def3ff;
  border-radius: 30px 30px 30px 30px;
  padding: 1rem;
  border-color: #242320;
}


/* #navContainer{
  width:100%;
  flex-direction: row;
  justify-content: center;
  display: inline-block;
  margin-left : 2rem;
  margin-right : 2rem;
  background: #242320;
} */

/* #nav li {
  display: inline;
  padding-right: 30px;
} */

#movie{
  background: #def3ff;
  padding: 1rem;
  border-color: black;
  border-width: 1rem;
  border-radius: 30px 30px 30px 30px;

}

#pag{
  background : #B0C4DE;
  border-radius: 30px 30px 30px 30px;
}

/* #movies{
  background: #def3ff;

} */

/* #list-group{
  background: #c8defa;
} */

.list-group-item{
  background: #c8defa;
  border-radius: 30px 30px 30px 30px;
}

.navbar { 
  /* width:100%; */
  flex-direction: row;
  display: inline-block;
  align-items : center;
  width: max-content;
  height: max-content;
  /* width:max-content; */
  border-radius: 30px 30px 30px 30px;
 
}
#categories{
  size : sm;
  max-width: 7rem;
  display: inline-block;
  background-color: #edf3f7;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #000;
}
.off {
  color: #ccc;
}

.inactive {
  color: white;
  text-decoration: none;
}

.active {
  color: #3366CC;
  text-decoration: none;
}